<h1>Inbox</h1>

<p> This page is for any tasks that are currently unassigned.</p>

<% if @tasks.any? %>
  <table class="task-table">
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= render partial: 'tasks/task', locals: { task: task } %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No new tasks.</p>
<% end %>