<h1>Master</h1>

<p> This page is for managing your master list</p> <%= link_to 'New Workspace', new_workspace_path %>

<% @workspaces.each do |workspace| %>
  <%= render partial: 'workspaces/workspace', locals: { workspace: workspace, tasks_scope: @tasks_scope } %>
<% end %>

