<h1>Review</h1>

<p> This page is to review tasks that are either deferred, or delegated </p>

<% @workspaces.each do |workspace| %>
  <% if workspace.any_task_matching?(:review) %>
    <%= render partial: 'workspaces/workspace', locals: { workspace: workspace, tasks_scope: @tasks_scope } %>
  <% end %>
<% end %>
